*, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;  
}
body{

    background-image: url(img/ET.png);
    /* background-size: 100% auto; */
    background-position:10% 10%;
    background-size: 100%;
    background-repeat: no-repeat; 
    min-height: 100%;
    
}

header{
    margin-top:6px;
    /* box-shadow: 5px 2px 7px #d1d1d1; */
    border-radius: 30px;
    margin-left:20px;
    margin-right:20px;
    padding:10px;
}

.header-container{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
}


/* .header-btn{
    background-color: #f4f4f4b7;
    padding:10px 15px;
    transition: 300ms;
    box-shadow: 5px 3px 7px #d1d1d1;
}

.header-btn:hover{
    transform: scale(1.2);
} */

.logo{
    text-decoration: none;
    color: #161616;
    font-size:16px;

}


ul li {
    list-style: none;
    display: inline-block;
    margin-left: 55px;
}

ul li>a{
    display: inline-block;
    text-decoration: none;
    color: #161616;
    font-size:calc(1vw + 1px);
    transition: 300ms;  
    padding-bottom:1px ;
    border-bottom:1px solid #161616;
}

ul li>a:hover{
    transform: scale(1.1);
}



/* ------------------------------------------------------------------- */


.text{
    font-size: calc(3vw + 1px);
    font-weight:500;
    position:absolute;
    top:calc(100px - 40px);
    left: calc(100px - 80px);
    
  }
  .text span{
    display:block;
  }
  .text span:first-child{
    text-indent:2em;
  }
  .text span:nth-child(2){
    text-indent:1em;
  }
  .text span:nth-child(3){
    text-indent:1.75em;
  }


/* ------------------------------------------------------------------- */
.container{
    
    width: 100%;
    /* border:1px solid red; */
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}


.slperekhodnik{
    max-width: 38em;
    /* border:1px solid red; */
    width: calc(100% - 70%);
    
    margin-right:30px;
    margin-top: 30px;
    border-radius:10px;
    }
    
    .gablok_sedakoda{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    }
    
    .slayder_karusel{
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 15s gablok_sedakoda-ani infinite;
    border-radius:10px;
    }
    
    .slayder_karusel figure{
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
    border-radius:10px;
}

.slayder_karusel img{
    max-width: 100%;
    vertical-align: bottom;
    border-radius:10px;
    transition:300ms;
    }
    
    /* .slayder_karusel img:hover{
    filter:blur(3px);
    border-radius:10px;
}
     */
    
    .slayder_karusel figure figcaption{
    position: absolute;
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    padding: .5em;
    border-radius:0 0 10px 10px;
    }
    
    @keyframes gablok_sedakoda-ani{
    0%{
    left: 0%;
    }
    
    20%{
    left: 0%;
    }
    
    25%{
    left: -100%;
    }
    
    45%{
    left: -100%;
    }
    
    50%{
    left: -200%;
    }
    
    70%{
    left: -200%;
    }
    
    75%{
    left: -300%;
    }
    
    95%{
    left: -300%;
    }
    
    100%{
    left: -400%;
    }
    
    }

