
*, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;  
}
body{

    background-image: url(img/ET.png);
    /* background-size: 100% auto; */
    background-position:10% 10%;
    background-size: 100%;
    background-repeat: no-repeat; 
    min-height: 100%;
    
}

header{
    margin-top:6px;
    /* box-shadow: 5px 2px 7px #d1d1d1; */
    border-radius: 30px;
    margin-left:20px;
    margin-right:20px;
    padding:10px;
}

.header-container{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
}


/* .header-btn{
    background-color: #f4f4f4b7;
    padding:10px 15px;
    transition: 300ms;
    box-shadow: 5px 3px 7px #d1d1d1;
}

.header-btn:hover{
    transform: scale(1.2);
} */

.logo{
    text-decoration: none;
    color: #161616;
    font-size:16px;

}


ul li {
    list-style: none;
    display: inline-block;
    margin-left: 55px;
}

ul li>a{
    display: inline-block;
    text-decoration: none;
    color: #161616;
    font-size:calc(1vw + 1px);
    transition: 300ms;  
    padding-bottom:1px ;
    border-bottom:1px solid #161616;
}

ul li>a:hover{
    transform: scale(1.1);
}



/* ------------------------------------------------------------------- */


.text{
    font-size: calc(3vw + 1px);
    font-weight:500;
    position:absolute;
    top:calc(100px - 40px);
    left: calc(100px - 80px);
    
  }
  .text span{
    display:block;
  }
  .text span:first-child{
    text-indent:2em;
  }
  .text span:nth-child(2){
    text-indent:1em;
  }
  .text span:nth-child(3){
    text-indent:1.75em;
  }


/* ------------------------------------------------------------------- */

/* .slider{
    
    height: 100vh;
    
}

.rotating-slider-container {    
    transform: rotate(35deg);
    
   
    width: 80%;
    height: 20vh;
    position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    
}


.rotating-slider{
    margin: 40px auto 0 auto;
    position: relative;

}
.rotating-slider ul.direction-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -90px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.rotating-slider ul.direction-controls li button{
    background: rgba(51, 122, 183, 0.8);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding-bottom: 6px;
    text-align: center;
    transition: background 0.35s;
}
.rotating-slider ul.direction-controls li button:hover{
    background: rgba(51, 122, 183, 1);
}
.rotating-slider ul.direction-controls li.left-arrow button{
    border-radius: 100% 0 0 100%;
}
.rotating-slider ul.direction-controls li.right-arrow button{
    border-radius: 0 100% 100% 0;
}
.rotating-slider ul.slides {
    border-radius: 50%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    transform-origin: center center;
    width: 100%;
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7);  
    color: #FFF;
    font-family: Verdana, sans-serif;  
    font-weight: bold;    
}
.rotating-slider ul.slides .slide-inner {
    position: absolute;
    bottom: 80px;
    right: 190px;
}
.rotating-slider ul.slides .slide-inner div {
    font-size: 36px;
    text-transform: uppercase;
}
.rotating-slider ul.slides .slide-inner p {
    font-size: 22px;
     margin-top: 10px;
}
.rotating-slider ul.slides li{
    background-color: #ecf0f1;
    background-position: center;
    background-size: cover;
    display: block;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform-origin: bottom center;
    width: 100%;
    box-sizing: content-box;    
} */